/* box sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/* general element syling */

* {
  margin: 0;
  padding: 0;
  /*background-color: rgba(0,100,255, 0.1);*/
  font-family: 'PT Sans', sans-serif;
  text-align: justify;
}

.float-left {
  float: left;
  margin: 30px 30px 0 0;
}

.float-right {
  float: right;
  margin: 30px 0 0 30px;
}


/* document setup */
body {
  background-color: rgba(0,0,25,0.8);
}

@media screen {
  body {
    padding: 2.5in;
  }
}

body > .container {
  width: 48in;
  height: 36in;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: white;
}

/* header */

body > .container > .header {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 1in;
  z-index: 3;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.8);
}

.header > img {
  height: 4.5in;
}

.header .header-words {
  max-width: 77%;
}

.header .header-words .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 100pt;
  display: block;
  text-align: center;
  /* gradient */
  background-image: linear-gradient(to left, rgb(4, 104, 4), rgb(11, 20, 100));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header .header-words .name {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

body > .container > .content {
  flex-grow: 24;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 30px 0;
  background: linear-gradient(to bottom right, rgb(25, 197, 25), rgb(3, 20, 173));
}

.col-main {
  padding: 0.25in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-main.left {
  width: 30%;
}

.col-main.center {
  flex-grow: 5;
  width: 39%;
}

.col-main.right {
  width: 30%;
}


/* general section syling */
.section {
  background-color: white;
  padding: 0.25in;
  border: 10px solid #053a5e;
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.6);
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
  text-align: center;
  display: block;
  width: auto;
  margin-bottom: 20px;
}

.section-text {
  font-size: 26pt;
}

.figure {
  width: 100%;
}

.figure-holder {
  border: 5px solid #3e4b09;
}

.figure-holder .label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

/* figures */
.figure-holder-1 {
  width: 650px;
}

.figure-holder-2 {
  width: 100%;
  margin: 30px 0 0 0;
}

.figure-holder-3 {
  width: 760px;
  margin-top: 0;
}

.figure-holder-4 {
  width: 800px;
}

.figure-holder-5 {
  width: 1212px;
}
.figure-holder-6 {
  width: 675px;
}

/* spacing margins */
.section.abstract {
  margin-bottom: 0.1in;
}

.section.materials-and-methods-continued {
  margin-bottom: 0.1in;
}

.section.discussion {
  margin-bottom: 0.1in;
}

.section.conclusions {
  margin-bottom: 0.1in;
}

@media print {
  * {
      -webkit-print-color-adjust: exact;
  }
  @page {
    size: 48in 36in;
    margin: 0;
  }
}
